{% extends "master.html" %} {% block content %}
<div class="content-wrapper">
  <div class="page-header">
    <h3 class="page-title">All Admins</h3>
  </div>
  <div class="row grid-margin">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Admin List</h4>
          <div class="row">
            <div class="col-12">
              <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Status</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>2012/08/03</td>
                        <td>Edinburgh</td>
                        <td>Edinburgh</td>
                        <td>Edinburgh</td>
                        <td>
                          <button class="btn btn-outline-primary">View</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
</div>
